.people {
  width: 200px;
  margin-inline: auto;
}

.person {
  display: block;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  cursor: pointer;
}

.person:hover {
  background-color: #eee;
}
