* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  font-size: 1rem;
  color: #272509;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
