* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  font-size: 1rem;
  color: #272509;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

#root {
  margin: 0 auto;
  text-align: center;
}

#root:has(.dark-theme) {
  background-color: #004444;
}

.dark-theme {
  button {
    color: #fff;
    background-color: #333333;
  }
}

.card {
  padding: 2em;
}
